body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fffbea; /* Fondo amarillo claro */
}

.App {
  text-align: center;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  background-color: #55518d; /* Amarillo principal */
  padding: 10px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-circle {
  width: 45px;
  height: 45px;
  background-color: #4a4a00; /* Amarillo oscuro */
  color: #fffbea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin-right: 760px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  
}

.nav-links a {
  text-decoration: none;
  color: #4a4a00;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

/* HEADER */
.header {
  background-color: #575653;
  color: #4a4a00;
  padding: 25px 0;
}

hr {
  border: 0;
  border-top: 2px solid #5402a0;
  margin: 20px 0;
}

/* SECCIONES */
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  background-color: hsl(50, 27%, 82%);
  border: 2px solid #1892f5;
  border-radius: 8px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #4a4a00;
}

/* FORMULARIO */
.form-container {
  background-color: #fff8d6;
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #501899;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form label {
  margin-top: 10px;
  color: #4a4a00;
}

.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #d4af37;
  background-color: #fffdf3;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #f5c518;
  color: #4a4a00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #e0b90f;
}

/* FOOTER */
.footer {
  background-color: #f5c518;
  color: #4a4a00;
  padding: 10px 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
}
